/* 
    BACKGROUND & STRUCTURE
*/
.bgGreen{
    height: 20%;
    background-color: #009688;
}
.bgGray{
    height: 80%;
    background-color: #DADBD3;
}

.windowContainer{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 95%;
    width: 70%;
    background-color: white;
}

.windowContainer>div{
    padding: 0;
}

/* 
    APP SECTION
*/
.appHeader{
    height: 250px;
}

.appBody{
    height: 75%;
    overflow: auto;
}

.appUser{
    height: 70px;
    padding: 5px;
    background-color: #EAEAEA;
}

.userImage{
    overflow: hidden;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.userImage>img{
    width: 100%;
}

.userName{
    margin-left: 10px;
    font-weight: 600;
    line-height: 60px;
}

.appIcons{
    line-height: 60px;
    color: #B1B1B1;
    font-size: 1.2rem;
    padding-right: 10px;
}
.appIcons>span{
    padding: 0 10px;
}

.appNotify{
    background-color: #8EDAFC;
    height: 130px;
    padding: 0 10px;
}

.notifyIcon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    color:#8EDAFC;
    background-color: white;
    text-align: center;
    line-height: 60px;
    font-size: 1.8rem;
    margin-right: 10px;
}

.notifyText>h3{
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0;
}

.notifyText>a{
    font-size: 0.7rem;
    color:#56879C;
}

.appSearch{
    height: 50px;
    background-color: #FAFAFA;
    padding: 10px;
}

.appSearch>div>*{
    height: 100%;
    color: #B1B1B1;
}

.searchIcon{
    font-size: 1rem;
    padding-right: 10px;
    width: 50px;
    background-color: white;
    text-align: center;
    line-height: 25px;
    border: 1px solid lightgray;
    margin-right: 3px;
}

.searchBar{
    width: 100%;
}

.searchBar>input{
    width: 100%;
    padding-left: 10px;
    font-size-adjust: 0.5rem;
    border: 1px solid lightgray;
}

.searchBar>input:focus{
    outline: none;
}

/* 
    MSG SECTION
*/

.msgHeader{
    height: 70px;
    background-color: blue;
}

.msgBody{
    overflow: auto;
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
}

.msgFooter{
    height: 50px;
    background-color: aquamarine;
}